//colors


//just change this colors
$theme-color-1:#363740;
$theme-color-2:#3D4049;
$theme-color-3:#F5F5F5;

//fixed colors
$font-color-1: #828591;
$font-color-2:#fff;
$font-color-3:#000;

//basic colors
$color-gray: rgb(156, 156, 156);
$color-white:#fff;
$color-black:#000;

$font-size-logo: 19px;
$font-size-nav: 16px;

// default values
$default-font-size: 16px;
